<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dossier Medical</title>
    <link rel="stylesheet" href="/web/css/estilos.css">
    <script src="/web/js/script.js"></script>
</head>
<body>
    <img src="/web/media/logo.png" class="logo">
    <header class="menu">
        <nav>
            <ul>
            <li><a href="/inicio"><b>Inicio</b></a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="about.html">Sobre Nosotros</a></l>
            <li><a href="#">Servicios</a></li>
         </ul>
        </nav>
    </header>
    
    <br>
    
    <br>
    <br>
    <br>

<style>

</style>